howto.md
.DS_Store
__pycache__/
*.pyc
.venv/
experiments/text/*/*/artifacts/embeddings/*.npy
experiments/text/multiclass/dair-ai-emotion/artifacts/embeddings/*.npy
experiments/embeddings_field/text/multiclass/*/artifacts/embeddings/*.npy
experiments/embeddings_field/text/multiclass/*/data/processed/train/*.npy
experiments/text/*/*/artifacts/logs/mplconfig/
outputs/
!outputs/.gitkeep
experiments/text_model/runs/*/model
experiments/text_model/runs/*/model/
experiments/text_model/runs/*/tokenizer
experiments/text_model/runs/*/tokenizer/
meetings/*transcript*.docx
