howto.md
.DS_Store
__pycache__/
*.pyc
experiments/text/*/*/artifacts/embeddings/*.npy
experiments/text/multiclass/dair-ai-emotion/artifacts/embeddings/*.npy
experiments/text/*/*/artifacts/logs/mplconfig/
